version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3055:3055"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: 12345678
      DB_NAME: nodejs
      DB_PORT: 3307
      REDIS_HOST: redis
      Redis_PORT: 6379
    depends_on:
      - db
      - redis
    networks:
      - mynetwork
  db:
    image: mysql:8.1
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: nodejs
    ports:
      - "3307:3306"
    networks:
      - mynetwork
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
      - ./redis.log:/var/log/redis/redis.log  # Sửa lỗi đường dẫn và định dạng cho file log
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge

volumes:
  db-data:
  redis-data:
