DB_HOST=localhost
DB_USER=root
DB_PORT=3306
DB_PASSWORD=12345678
DB=nodejs
MAIL=huy343536@gmail.com    
MAIL_PASSWORD=swsa axux pgyc ljvy

//Cloudinary
CLOUD_NAME=ecommercegroup
CLOUDINARY_API_KEY=772858273968731
CLOUDINARY_API_SECRET=NdLAr1tYR9QDwlRZZB-LDJZXtvk
```